$large-font-size: 30px;
$small-font-size: 20px;
$bg-primary: royalblue;
$bg-secondary: darkblue;
$large-margin: 20px;
$small-margin: 10px;
$colors: red, black, white;
$flags: (
  (black, white, red),
  (red, white, red),
  (red, white, black)
);

